@import "../styles/mixins";

.wrapper {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
    margin-left: -20px; /* gutter size offset */

    @include breakpoint(min-width 1100px) {
        margin-left: -30px;
    }
}

.title {
    margin: 10px 0 100px;
}

.collectionsWrapper {
    margin-bottom: 80px;
}

.column {
    background-clip: padding-box;
    padding-left: 20px; /* gutter size */

    @include breakpoint(min-width 1100px) {
        padding-left: 30px;
    }
}

/* Style your items */
.column > .link { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    display: block;
    cursor: pointer;
    margin-bottom: 20px;

    @include breakpoint(min-width 1100px) {
        margin-bottom: 30px;
    }
}

.collectionTitle {
    text-align: center;
}

.collectionTitleLink {
    @include navStyle;
    text-transform: uppercase;
}