@import "../../styles/normalise", "../../styles/mixins";

:root {
    --background: $c-white;
    --copy: $c-black;
    --link: $c-primary;
}

.dark {
    --background: $c-black;
    --copy:  $c-white;
    --link: $c-primary-dark;
}


.wrapper {
    background: var(--background);
    min-height: 100vh;
}