@import "breakpoint";

$small-up: 480px;
$medium-up: 1024px;


$c-black: #0f0f0f;
$c-white: #ecede8;
$c-red: red;

$c-body: $c-black;
$c-link: $c-black;
$c-primary: $c-red;

@mixin flexList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}