@import "breakpoint";

$small-up: 480px;
$medium-up: 768px;
$page-width: 980px;
$max-width: 2980px;

$c-black: #0f0f0f;
$c-white: #ecede8;
$c-red: red;

$c-body: $c-black;
$c-link: $c-black;
$c-primary: $c-red;

@mixin flexList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

@mixin pageHeader {
    margin-bottom: 100px;
    text-align: center;
}

@mixin photoHeader {
    margin-bottom: 100px;
    text-align: left;
}