//global styles only
@import "./mixins";
@import "./normalise";

@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html {
    background-color: $c-white;
    color: $c-black;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

a {
    &,
    &:visited,
    &:active,
    &:hover {
        color: $c-primary;
    }
}