@import "../../styles/mixins";

.wrapper {

}

.breadcrumbs {
    @include flexList;
}

.crumb {
    @include navStyle;

    &:not(:last-child):after {
        content: "/";
        padding: 0 10px 0 10px;
        color: var(--copy);
        opacity: 0.4;
    }
}