@import "../../styles/mixins";

.list {
    @include flexList;
    justify-content: center;
    margin-bottom: 50px;
}

.item {
    &:not(:first-child) {
        margin-left: 30px;
    }
}

.link {
    color: $c-primary;
}

.icon {
    font-size: 36px;
    fill: $c-primary;
}