@import "../../styles/mixins";

.wrapper {
    align-self: flex-start;
}

.menu {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
    cursor: pointer;

    height: 80px;
    text-transform: uppercase;
    display: flex;

    > span {
        margin: auto 0;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @include breakpoint(max-width 767px) {
        padding: 90px 50px 150px;
    }

    @include breakpoint(768px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 80px;

        > *:not(:first-child) {
            margin-left: 40px;
        }
    }

    a {
        text-decoration: none;
        color: $c-link;
        position: relative;
        transition: color 250ms ease-in-out;

        &:after {
            display:block;
            content: '';
            border-bottom: solid 1px $c-primary;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
        }

        @include breakpoint(768px) {
            &:hover {
                color: rgba($c-link, 0.75);

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

a.active {
    color: $c-primary;

    &:hover {
        color: $c-primary;
    }
    
    &:after {
        transform: scaleX(1);
    }
}