@import "../styles/mixins";

.header {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerImage {
    min-width: 100vw;
    min-height: 500px;
}

.avatar {
    width: 280px;
    height: 280px;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: -145px;

    border: 8px solid var(--background);
    border-radius: 99999px;
    position: relative;

    img {
        border-radius: 99999px;
    }
}