@import '../../styles/mixins';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    max-width: $max-width;

    @include breakpoint($medium-up) {
        margin: 0 auto;
        padding: 0 50px;
    }

    &:not(.isHome) {
        padding-bottom: 100px;
    }
}

.isHome {
    height: 82vh;

    @include breakpoint($medium-up) {
        height: 90vh;
    }
}

.header {
    display: flex;
    flex-direction: column;
    height: 80px;
}

.title {
    order: 2;
    margin: auto 0;
    text-transform: none;
}

.description {
    order: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}